.container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 35px 55px;
  border: 4px solid #6e6cff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 600;
  color: #6e6cff;
}

.input {
  min-width: 250px;
  outline: none;
  height: 20px;
  padding: 7px 10px;
  border: 2px solid #f9acfc;
  color: #363636;
  font-size: 16px;
  border-radius: 5px;
  caret-color: #6e6cff;
}

.input:focus {
  border-color: #6e6cff;
}

.button {
  padding: 15px 22px;
  background-color: #f9acfc;
  color: #6e6cff;
  font-weight: 600;
  font-size: 16px;
  align-self: center;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #6e6cff;
  color: #f9acfc;
}

.error {
  font-size: 14px;
  color: #ff7575;
}
